html, body {
    height: 100%;
}
#buscador_primario{
	min-height: 100%;
    height: 100%;}
#Avanzada{
	margin-top:5%;
	vertical-align:central;
	text-align:center;
}
#contenedor_img img{
	height:100%;
	width:100%;}
#menu_conteiner{
	vertical-align:central;
	text-align:center;
	margin-top:3%}
.centrardiv{
	vertical-align:central;
	text-align:center;
	margin:4%}
#instituciones img{
	margin-right:2%;}
.contactanos{
	background-color:#4285F4;
	font-weight:bold;
	font-size:20px;
	color:#FFF;
}
#contactanos{
	width:100%;
	height:150px;
	margin-left:0px;
	}
#como_funciona{
	width:100%;
	height:auto;
	margin-left:0px;
}
#como_funciona h2{
	color:#3F729B;
	padding-top:2%;}

.boton1{
	background-color:#80cbc4;
	color:#000;
	font-weight:bold}
a.nounderline:link   
{   
 text-decoration:none;   
}
.accordion-toggle {cursor: pointer; color:#0099CC;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}
#funciona{
	margin-bottom:5%;
	background-color:#fafafa;
	padding-bottom:2%;}